// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product1{
  width: 200px;
  height: 100%;
  background-color: #f3eaea;
  border: 2px gray solid;
  padding: 10px;
  margin-top: 5px;
  margin-left: 25px;
}

.img1{
  width: 80px;

}
